 <!-- ========== Left Sidebar Start ========== -->
 <div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Main</li>
                <li>
                    <a href="/admin/dashboard/" class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i><span> Dashboard </span>
                    </a>
                </li>
                <li>
                    <a  class="waves-effect"><i class="mdi mdi-newspaper"></i><span> Tin tức </span></a>
                </li>   
                <li class=""><a href="javascript:void(0);" class="waves-effect" aria-expanded="false"><i class="mdi mdi-email-outline"></i><span> Tin tức <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                    <ul class="submenu collapse" aria-expanded="false" style="height: 0px;">
                        <li><a href="/admin/news">Danh sách tin</a>
                        </li>
                        <li><a href="/admin/news/add-news">Tạo mới</a>
                        
                    </ul>
                </li>
                <li>
                    <a href="/admin/member/logout" class="waves-effect"><i class="mdi mdi-logout"></i><span> Thoát </span></a>
                </li>        
            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
